body{
    background-color: rgb(205, 207, 208);
}

.texto {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: blue;
}

.btn-seta{
    width: 10%;
    margin-top: 100px;
    background-color: black;
    height: 20%;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}