body{
    background-color: rgb(205, 207, 208);
}

.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: blue;
}

.verde-limao {
    color: blue;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}